
:host {
    display: flex;
    flex-direction: column;
    
}
.background{
  background-image: url('/assets/Images/employee-img.png');
  background-repeat: no-repeat;
  background-size: 100%;
}

.form{
   padding: 50px;
    margin-top: 60px;
    margin-right: 60px;
    margin-left: 35%;
    margin-bottom: 120px;
  }
  .login{
    padding: 15px;
    font-size: 30px;
    margin-left: 45%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  .i{
    padding: 12px;
    background-color: aliceblue;
    width: 25vw;
    border-radius: 2px ;
    
  }
  #login,#signup{
    width: 25vw;
  }
 
 #or{
  margin-left: 25%;
 }
.error{
 margin-right: 60%;

}