<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<pre class="wel">


Welcome To Employee Dashboard!!


</pre>
<br>
<button class="btn btn-primary" style="margin-left: 25vw;" routerLink="login">Login</button>
<br>
<h3 style="margin-left: 25vw;">Or</h3>

<button class="btn btn-success" style="margin-left: 25vw;" routerLink="signup">Sign-Up</button>


